.container {
  margin: 0px;
  background: -webkit-linear-gradient(#B03A2E, #000000);
  height: 600px;
}
.form-signin {
  text-align: center;
  position: relative;
  top: 200px;
  left: 200px;
  padding: 7px;
  width: 200px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
}

.form-control{
  border-radius: 50px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  margin: 4px;
  padding: 15px;
}

#signin-header {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FBFCFC;
}

#machu-picchu {
  width: 880px;
  height: 500px;
}

body {
  margin: 0px;
}

.imagen-cuerpo {
 position: relative;
 top: 200px;
 left: 110px;
 margin: 5px;
  width: 1109px;
  height: 575px;
}

#estilo-cuadro {
  text-align: center;
  background-color: #F3F3F0;
}

#frase-cuadro {
  position: relative;
  margin: 0px;
  padding: 50px;
  top: 200px;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  letter-spacing: 0.5em;
  color: #A29584;

}
