body{
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
}

nav{
  background-color: #EEE;
  position: fixed;
  padding-left: 70px;
  top: 0;
  width: 100%;
  height: 70px;
  border-bottom: solid 1px #f5f4f9;
}
nav  li , nav a{
  color: #589442;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 10px;
  letter-spacing: normal;
  vertical-align: middle;
  font-size: 1.2rem;
}
#toggle{
  position: absolute;
  top: 35px;
  right: 210px;
  color: #589442;
  font-size: 1.2rem;
  font-weight: bold;
}
.option:hover , .option-lugar:hover{
  color: #59FF0A;
}
.content{
  margin-right: 10%;
  margin-left: 8%;
  padding-top: 80px;
  padding-left: 14px;
  padding-right: 14px;
  display: block;
  text-align: center;
}
#costa{
  position: relative;
  background-color: #ffcdd2;
  margin-top: 77px;
}
#sierra{
  position: relative;
  background-color: #c8e6c9;
}
#selva{
  position: relative;
  background-color: #fff9c4;
}
#lugares{
  margin-top: 7px;
  /*background-color: #c5db91;*/
  font-weight: normal;
  width: 140px;
  position: absolute;
  /*left: -20px;*/
  z-index: 1000;
  display: none;
  background-color: #EEE;
}
#lugares ul li ,a {
  text-decoration: none;
  list-style: none;
  color: white;
  display: inline-block;
  padding: 3px;
}

header #toggle:hover{
  color: #f5365f !important;
}
footer{
  text-align: center;
  /*height: 70px;*/
  width: 100%;
  display: block;
  background: #373B47;
  color: white;
  padding-top: 7px;
  bottom: -1;
  margin-bottom: 0;
  position: absolute;
}
footer .box-redes a{
  border: solid 1px white;
  color: white;
  font-size: 1.5rem;
  width: 30px;
}

.logo {
  position: relative;
  display: inline-block;
  height: 150px;
  width: 150px;
  z-index: -2;
  margin: 100px;
}
#cuerpo-logo {
  position: absolute;
  transform: rotate(-45deg);
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 0.5px solid #cfd8dc;
  z-index: -1;
}
#texto-logo {
  top: 35px;
  left: 0px;
  position: relative;
  display: inline-block;
  margin: 0px;
 font-family: 'Poiret One', cursive;
 color: #312D41;
 letter-spacing: 0.5em;
  font-size: 12px;
}
#icon-logo {
  position: absolute;
  top: 60px;
  left: 42px;
}


body {
  margin: 0px;
}

.imagen-cuerpo {
 position: relative;
 top: 200px;
 left: 110px;
 margin: 5px;
  width: 1109px;
  height: 575px;
}

#estilo-cuadro {
  text-align: center;
  background-color: #F3F3F0;
}

#frase-cuadro {
  position: relative;
  margin: 0px;
  padding: 50px;
  top: 200px;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  letter-spacing: 0.5em;
  color: #A29584;
}
